__pycache__
/backend/logs
/backend/site.db
/backend/conversions
/backend/downloads
/backend/uploads
/backend/ffmpeg-progress
/backend/ffmpeg_output
/backend/flask_session
/backend/trims
/backend/yt-progress

/frontend/build
/frontend/public
/frontend/node_modules
/src/package-lock.json

.eslintcache