# Backend
__pycache__
/backend/logs
/backend/conversions
/backend/downloads
/backend/uploads
/backend/ffmpeg_progress
/backend/ffmpeg_output
/backend/yt_progress
/backend/flask_session
# Frontend
**/node_modules
/frontend/build
# Misc
*.mkv
*.mp4
**/.DS_Store
.prettierrc
.vscode
.eslintcache