# Audio files
*.3gp
*.aac
*.ac3
*.adpcm
*.caf
*.dts
*.flac
*.m4a
*.mka
*.mp3
*.MTS
*.ogg
*.opus
*.wav
# Video Files
*.avi
*.flv
*.mov
*.mp4
*.webm
*.wmv
*.mkv
# Image Files
*.jpg
*jpeg
*.png
*.webp
# Misc
*.db
*.json
*.log
*.part
*.sh
*.txt
*.ytdl
# Folders
__pycache__
flask_session