/* Add a black background color to the top div. */
.top {
  background-color: black;
  overflow: hidden;
}
/* The links in the top div. */
.top a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 9px;
  text-decoration: none;
  font-size: 17px;
}
/* When hovering over a link on the navigation bar */
.top a:hover {
  background-color: lightgreen;
  color: black;
}
#github {
  float: right;
}
h1 {
  font-size: 200%;
  text-align: center;
  background: black;
  color: white;
  padding-top: 11px;
  padding-bottom: 22px;
  margin:0; /* No gap between the black background of the title and the tagline */
}
.tagline{
  text-align: center;
  background: darkblue;
  color:white;
}
body {
    text-align: center;
    color: black;
    background-color: #F5F5E0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* The slider. */
.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 5px;  
  background: black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
/* The slider handle (webkit - applies to Chrome, Opera, Safari, Edge). */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}
/* moz - applies to Firefox.  */
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
/* Don't show the hamburger icon on screens displays larger than 600 pixels wide. */
.top .icon {
  display: none;
}
/* When the display is 600 pixels wide or less. */
@media screen and (max-width: 880px) {
  .top a {display: none;} /* Don't show the links */
  .top a.icon { /* Hamburger menu */
    display: block; /* Show hamburger menu */
    float: left;
  }
  .top.mobile a { /* The links */
    text-align: left;
    float: none; /* Display the links vertically instead of horizontally) */
    display: block;
  }
}
/* Filetypes page. */
.videofiletypes, .outputformats, .audiofiletypes {
  float: left;
  width: 33%;
}