{% extends "layout.html" %}
{% block content %}

<h1>About</h1>

<p>Hello and welcome to my website! This is a non-profit website that I work on in my free time. I hope you like it :)</p>
<p>You can:</p>
<p>- Convert an audio file to another format.</p>
<p>- Convert a video to an audio-only file.</p>
<p>- Trim a video or audio file.</p>
<p>- Convert a video to the MKV format.</p>
<p>- Downmix multi-channel audio to stereo.</p><hr>

<h2>Codecs / Encoder Information</h2><hr>

<h3>MP3</h3>
<p>This website uses the latest version of the <a target="_blank" href="http://lame.sourceforge.net/">LAME encoder</a> (v3.100) to convert a video/audio file to MP3. The LAME encoder is considered to be the highest quality encoder for MP3.<hr>

<h3>AAC</h3>
<P>AAC is the codec of iTunes music and is the most common audio codec in MP4 videos. The extension of a raw AAC file is ".aac", and an AAC file wrapped in the MPEG-4 container has the extension ".m4a" (e.g. music downloaded from iTunes).</P>
<p>This website uses the <a target="_blank" href="https://en.wikipedia.org/wiki/Fraunhofer_FDK_AAC">Fraunhofer FDK AAC</a> encoder which is a high quality AAC encoder. More specifically, <a target="_blank" href="https://github.com/nu774/fdkaac">fdkaac</a> is used, which is a command line encoder frontend for <a href="https://github.com/mstorsjo/fdk-aac" target="_blank">fdk-aac</a> (a standalone library of the Fraunhofer FDK AAC code from Android).<hr>

<h3>Vorbis</h3>
<p><a target="_blank" href="https://github.com/xiph/vorbis">Vorbis</a> has sort of been left in the shadow after the release of Opus, which is essentially its replacement. With that being said, it is a lossy codec that performs well, and compares favourably to MP3 at low bitrates (<a target="_blank" href="https://en.wikipedia.org/wiki/File:Opus_quality_comparison_colorblind_compatible.svg">source)</a>. This website uses the latest version of Vorbis; libVorbis 1.3.6</p><hr>

<h3>Opus</h3>
<p><a target="_blank" href="http://opus-codec.org/">Opus</a> is the talk of the town in world of lossy audio codecs. It compares favourably to all of the major lossy codecs at low bitrates (<a target="_blank" href="http://opus-codec.org/comparison/">source)</a>. This website uses the latest version of Opus; libopus 1.3.1</a></p>
    
{% endblock content %}