{% extends "layout.html" %}
{% block content %}

<h1>Supported Filetypes</h1><br>

<div class="audiofiletypes">
    <h3>Input Audio File</h3><hr>
    <p>3GP (.3gp)</p>
    <p>AAC (.aac or .m4a)</p>
    <p>AC3 (.ac3)</p>
    <p>.ADPCM</p>
    <p>ALAC</p>
    <p>DTS (.dts)</p>
    <p>FLAC (.flac)</p>
    <p>.m4a</p>
    <p>MP3 (.mp3)</p>
    <p>.ogg</p>
    <p>Opus (.opus)</p>
    <p>Speex (.spx)</p>
    <p>Vorbis</p>
    <p>WAV (.wav)</p>
    <p>WMA (.wma)</p>
</div>

<div class="videofiletypes">
    <h3>Input Video File</h3><hr>
    <p>AVI (.avi)</p>
    <p>FLV (.flv)</p>
    <p>MKV (.mkv)</p>
    <p>MOV (.mov)</p>
    <p>MP4 (.mp4)</p>
    <p>.MTS</p>
    <p>.webm</p>
    <p>WMV (.wmv)</p>
</div>

<div class="outputformats">
    <h3>Output Formats</h3><hr>
    <p>AAC (.m4a)</p>
    <p>AC3</p>
    <P>ALAC</p>
    <p>DTS</p>
    <p>FLAC</p>
    <p>MKA (.mka)</p>
    <p>MKV (.mkv)</p>
    <p>MP3 (.mp3)</p>
    <p>Opus (.opus)</p>
    <p>Vorbis (.ogg)</p>
    <p>WAV</p>
</div>     

{% endblock content %}