{% extends "layout.html" %}
{% block content %}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

  <h1>FAC</h1>

  <div class="tagline">
    <P>Click <a href=about target="_blank">here</a> to find out what you can do on FreeAudioConverter.net (FAC).</P>
  </div>

  

  <h3>1. Select the file you wish to convert:</h3>

  <div class="container">

    <div class="mb-3 mt-3">
      <div class="form-group mb-3">
        <div class="custom-file">
          <input accept=".mp3, .aac, .m4a, .wav, .flac, .ogg, .opus, .flv, .mp4, .avi, .wmv, .wma, .mka, .mkv, .MTS, .mts, .ac3, .3gp, .dts, .webm, .ADPCM, .adpcm, .spx, .caf, .mov, .dtshd, .thd" type="file" class="custom-file-input" id="file_input" oninput="updateBoxes()">
          <label id="file_input_label" class="custom-file-label">Select file</label>
        </div>
      </div>
    </div>

    <i>Max file size: 5 GB.</i>
    <p>To see the list of supported input filetypes, click <a href=filetypes target="_blank">here</a>.</p>
  
    <hr><h3>2. Desired Format:</h3>
  
    <!--List of Codecs-->
    <select id="codecs" onchange="showHide(this.value);">
      <option selected value="MP3">MP3 (.mp3) [LAME v3.100]</option>
      <option value="AAC">AAC (.m4a) [Fraunhofer FDK AAC]</option>
      <option value="WAV">WAV</option>
      <option value="Opus">Opus (.opus) [libopus 1.3.1]</option>
      <option value="Vorbis">Vorbis (.ogg) [libVorbis 1.3.6]</option>
      <option value="FLAC">FLAC</option>
      <option value="ALAC">ALAC</option>
      <option value="AC3">AC3</option>
      <option value="DTS">DTS</option>
      <option value="CAF">CAF (.caf)</option>
      <option value="MKA">Extract audio without converting (.mka)</option>
    </select>

    <div id='keep-vid-div' style='display:none'><br>
      <label for='is-keep-video'>Keep the video?</label>
      <label for ="keep-vid">Yes</label>
      <input type="radio" id="keep-vid" name="is-keep-video" value="yes">
      <label for="not-keep-vid">No</label>
      <input type="radio" id="not-keep-vid" checked="checked" name="is-keep-video" value="no">
    </div>
  
    <hr><h3>3. Encoder Settings:</h3>

    <!--MP3 DIV-->
    <div id="MP3">

      <!--Bitrate modes for MP3-->
      <br><div id="mp3_encoding_div">
        <label for="mp3_encoding_type">CBR, VBR or ABR?</label>
        <select id="mp3_encoding_type" onchange="showHideMP3(this.value);">
          <option disabled value>Select encoding type</option> 
          <option selected value="cbr">CBR (Constant Bitrate)</option>
          <option value="vbr">VBR (Variable Bitrate)</option>
          <option value="abr">ABR (Average Bitrate)</option>
        </select><br>
        <i>Click <a href="http://wiki.hydrogenaud.io/index.php?title=LAME#Recommended_encoder_settings" target="_blank">here</a> for recommendations.</i>
      </div><br>

      <!--Bitrate slider for MP3 CBR and ABR-->
      <div id="mp3sliderdiv">
        <p>Set your desired bitrate via the slider:</p>
        <input type="range" min="64" max="320" step="64" value="192" id="cbr_abr_bitrate" class="slider"/>
        <span id="mp3value"></span><br><br>
        <i>A higher bitrate allows for potentially higher audio quality, at the expense of a larger file size.</i>
      </div>

      <!-- VBR settings for MP3 -->
      <div id="mp3_vbr_setting_div" style="display:none">
        <label for="mp3_vbr_setting">Setting:</label>
        <select id="mp3_vbr_setting">
          <option disabled value>Select VBR setting</option>
          <option value="0">-V 0 (~240kbps)</option>
          <option value="1">-V 1 (~220kbps)</option>
          <option selected value="2">-V 2 (~190kbps)</option>
          <option value="3">-V 3 (~170kbps)</option>
          <option value="4">-V 4 (~160kbps)</option>
          <option value="5">-V 5 (~130kbps)</option>
          <option value="6">-V 6 (~120kbps)</option>
        </select><br>
        <i>For more details about the settings, click <a target="_blank" href="http://wiki.hydrogenaud.io/index.php?title=LAME#Recommended_settings_details">here</a>.</i>
      </div><br>

      <div id=y-switch-div style='display:none'>
        <p>Enable the Y switch?</p>
        <label for="opt1">Yes</label>
        <input type="radio" id="opt1" name="is-y-switch" value="yes">
        <label for="opt2">No</label>
        <input type="radio" id="opt2" checked="checked" name="is-y-switch" value="no"><br>
        <i>The Y switch tells LAME not to encode the highest frequencies accurately, if doing so causes disproportional increases in bitrate. More details <a target="_blank" href="http://wiki.hydrogenaud.io/index.php?title=LAME_Y_SWITH">here</a>.</i>
        <i>This setting only applies if V0 to V2 is selected. V3 to V6 use the Y switch and this cannot be changed.</i>
      </div>
    
    </div> <!--Closing tag for MP3 div-->
  
    <!--Bitrate settings for AC3-->
    <div id="ac3-div" style="display:none">
      <label for="ac3-bitrate">Bitrate:</label>
      <select id="ac3-bitrate">
        <option disabled value>Select a Bitrate</option>
        <option value="192">192kbps</option>
        <option value="384">384kbps</option>
        <option value="448">448kbps</option>
        <option selected value="640">640kbps</option>
      </select><br><br>
      <i>A higher bitrate allows for potentially higher audio quality, at the expense of a larger file size.</i>
    </div>
  
    <!--AAC DIV-->
    <div id="AAC" style="display:none">

      <br><div id="aac-encoder" style="display:none">
        <label for="aac_encoder">Encoder:</label>
        <select id="aac_encoder" onchange="AAC_encoder(this.value);">
          <option disabled selected value>Select Encoder</option>
          <option selected value="qaac">QAAC (Apple's Encoder)</option>
          <option value="fdk">Fraunhofer FDK AAC</option>
        </select><br>
        <i>For more details about the encoders, click <a target="_blank" href=about>here</a> and refer to the "AAC" section.</i>
      </div>

      <div id="fdk-type" style="display:none">
        <label for="fdk-encoding">CBR or VBR:</label>
        <select id="fdk_encoding" onchange="fdkEncodingType(this.value);">
          <option disabled value>Select Encoding Type</option>
          <option value="fdk-cbr">CBR (Constant Bitrate)</option>
          <option selected value="fdk-vbr">VBR (Variable Bitrate)</option>
        </select>
      </div><br>

      <!--Bitrate slider for FDK CBR-->
      <div id="fdk_cbr_div" style="display:none">
        <p>Set your desired bitrate via the slider:</p>
          <input type="range" min="32" max="512" step="32" value="256" id="fdk-slider-aac" class="slider"/>
          <span id="fdkvalue"></span><br><br>
        <i>A higher bitrate allows for potentially higher audio quality, at the expense of a larger file size.</i>
      </div>

      <div id="fdk-vbr" style="display:none">
        <label for="fdk-vbr-value">VBR mode:</label>
        <select id="fdk-vbr-value">
          <option disabled value>Select VBR mode</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">2</option>
          <option selected value="4">4</option>
          <option value="5">5</option>
        </select><br>
        <i>Quality range is from 1 (lowest) to 5 (highest).</i>
      </div>

      <br><div id="is-lowpass-div" style="display:none">
        <p>Change default low-pass filter?</p>
        <label for="yes">Yes</label>
        <input type="radio" onclick="javascript:isFDKLowpass();" name="is-lowpass" id="yes" value="yes">
        <label for="no">No</label>
        <input type="radio" onclick="javascript:isFDKLowpass();" checked="checked" name="is-lowpass" id="no" value="no">
        <br><i>To see the default low-pass filters, click <a href="https://wiki.hydrogenaud.io/index.php?title=Fraunhofer_FDK_AAC#Bandwidth"target="_blank">here</a>.</i>
      </div>

      <br><div id="fdk-lowpass-div" style="display:none">
        <label for="fdk-lowpass">Low-pass filter (Hz):  </label>
        <input onclick="this.select();" type="tel" maxlength="5" value="17000" id="fdk-lowpass"/>
        <span></span><br><br>
      <i>Max value: 20000</i>
      </div>

    </div> <!--Closing tag for AAC div-->

    <!--Bitrate slider for DTS-->
    <div id="dts-div" style="display:none">
      <p>Set your desired bitrate via the slider:</p>
        <input type="range" min="768" max="3840" step="256" value="768" id="dts-slider" class="slider">
        <span id="dtsvalue"></span><br><br>
      <i>A higher bitrate allows for potentially higher audio quality, at the expense of a larger file size.</i>
    </div>

    <!--FLAC-->
    <div id="flac" style="display:none">
      <p>Set your desired compression level via the slider:</p>
        <input type="range" min="0" max="12" step="1" value="5" id="flac_compression" class="slider"/>
        <span id="flac_value"></span><br><br>
      <i>A higher value means a slighter smaller file size, but a longer conversion time.</i>
    </div>

    <!--VORBIS DIV-->
    <div id="Vorbis" style="display:none">

      <div id="vorbis_encoding_div" style="display:none">
        <label>VBR setting:</label>
        <select id="vorbis_encoding" onchange="showHideVorbis(this.value);">
          <option disabled value>Select encoding type</option>
          <option value="vbr_bitrate">VBR (with a nominal bitrate)</option>
          <option value="vbr_quality">VBR (target a quality-level)</option>
        </select><br><br>
      </div>
  
      <!--Quality slider for Vorbis-->
      <div id="vorbis_quality_div" style="display:none">
        <p>Set your desired quality setting via the slider:</p>
          <input type="range" min="0" max="10" step="1" value="6" id="vorbis_quality" class="slider"/>
          <span id="vorbisvalue"></span><br><br>
        <i>Quality range is from "-q 0" (lowest) to "-q 10" (highest). For more details, click <a target="_blank" href="https://wiki.hydrogenaud.io/index.php?title=Recommended_Ogg_Vorbis#Recommended_Encoder_Settings">here</a>.</i>
      </div>

    </div> <!--Closing tag for Vorbis div-->

    <!--OPUS DIV-->
    <div id="Opus" style="display:none">

      <div id="opus-encoding" style="display:none">
        <label for="opus-encoding-type">Encoding Type</label>
        <select id="opus-encoding-type" onchange="opusEncodingType(this.value);">
          <option disabled value>Select Encoding Type</option>
          <option selected value="opus-vbr">VBR (Variable Bitrate)</option>
          <option value="opus-cbr">CBR (Constant Bitrate)</option>
        </select>
      </div><br>

    <div id="opus-cbr-bitrate" style="display:none">
      <p>Please enter your desired bitrate:</p>
        <input onclick="this.select();" type="tel" maxlength="3" value="192" id="opus_cbr_slider"/><br>
      <i>You must enter an integer between 6 and 512.</i>
    </div>
  
    </div> <!--Closing tag for Opus div-->

    <!--Bitrate slider for Opus/Vorbis VBR-->
    <div id="vorbis_opus_vbr_bitrate" style="display:none">
      <input type="range" min="32" max="512" step="32" value="256" id="slider" class="slider"/>
      <span id="value"></span><br><br>
      <i>VBR selected, so this is just the bitrate that the encoder will usually stay around.</i>
    </div>

    <div id="wav_flac_msg" style="display:none">
      <i>You chose a format that does not require you to specify any encoder settings.</i>
    </div>
    
    <form method="POST":>
      <hr><h3>4. Output Filename:</h3>
      <input type="text" class="form-control" maxlength="200" id="output_name" required/><br>
    </form>

    <button onclick="upload_and_convert()" id="convert_btn" class="btn btn-primary">Convert</button>

    <div class="text-center" id="converting_btn" style="display:none">
      <button class="btn btn-info" disabled> 
        <span class="spinner-border spinner-border-sm"></span>
        Converting...</button>
    </div>

    <p id="progress" style="display:none"></p>
  
    <button class="btn btn-primary d-none" id="uploading_btn" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Uploading file for conversion...
    </button>
  
    <!--Cancel upload button-->
    <button type="button" id="cancel_btn" class="btn btn-secondary d-none">Cancel upload</button>
  
    <!--Upload-progress bar-->
    <div id="progress_wrapper" style="display:none">
      <br>
      <div class="progress mb-3">
        <div id="progress_bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <label id="progress_status"></label>
    </div>

    <div id="alert_wrapper" style="display:none"></div>

  </div> <!--Closing tag for div class="container" div-->

<hr><p>Like this website? Please share or tweet :)</p>

<!--Facebook-->
<div class="fb-like" data-href="https://freeaudioconverter.net" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div><br><br>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!--My JavaScript files-->
<script src="{{ url_for('static', filename='js/elements.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<!--For socket.io-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/progress.js') }}"></script>
<!--jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--Bootstrap JS-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock content %}