{% extends "layout.html" %}
{% block content %}
<script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="fezCGRFkb" data-description="You can send a donation as little as £3" data-color="#5F7FFF" data-position="right" data-x_margin="18" data-y_margin="18"></script>
  
<h1>Audio / Video Converter</h1>

<div class="tagline">
  <P>Easy to use. Open source. Ad-free.</P>
</div>

<h5>Select the file you wish to convert</h5>

<div class="container"> <!-- Bootstrap class -->

  <div class="custom-file"> <!-- Bootstrap class-->
    <input accept=".mp3, .aac, .m4a, .wav, .flac, .ogg, .opus, .flv, .mp4, .avi, .wmv, .wma, .mka, .mkv, .MTS,
    .mts, .ac3, .3gp, .dts, .webm, .ADPCM, .adpcm, .spx, .caf, .mov, .dtshd, .thd" 
    type="file" class="custom-file-input" id="file_input" oninput="updateBoxes()">
    <label id="file_input_label" class="custom-file-label">Select file</label>
  </div>

  <i>Max file size: {{ upload_size }} GB.</i>
  <p>To see the list of supported input filetypes, click <a href=filetypes target="_blank">here</a>.</p>

  <hr><h5>Desired Format</h5>

  <!--List of Codecs-->
  <select id="codecs" onchange="showHide(this.value);">
    <option value="AAC">AAC (.m4a)</option>
    <option value="AC3">AC3 (Dolby Digital)</option>
    <option value="ALAC">ALAC</option>
    <option value="CAF">CAF (.caf)</option>
    <option value="DTS">DTS</option>
    <option value="FLAC">FLAC</option>
    <option value="MKA">MKA (extract audio without encoding it)</option>
    <option value="MKV">MKV (.mkv)</option>
    <option selected value="MP3">MP3</option>
    <option value="MP4">MP4 (.mp4)</option>
    <option value="Opus">Opus (.opus)</option>
    <option value="Vorbis">Vorbis</option>
    <option value="WAV">WAV</option>
  </select><br>
    
  <i id="mp3_encoder">Encoder: <a href="https://lame.sourceforge.io/" target="_blank">LAME v3.100</a></i>
  <i id="opus_encoder" style="display:none">Encoder: libopus 1.3.1</i>

  <div id='keep_video_div'>
    <br>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="is_keep_video" id="keep_vid" value="yes" required="required">
        Keep the video (if applicable)
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="is_keep_video" id="not_keep_vid" value="no" checked="checked">
        I want an audio file
      </label>
    </div>
  </div>

  <hr><h5>Encoder Settings</h5>

  <div id='wav_bit_depth_div' style='display:none'>
    <label for="wav_bit_depth">Output Bit Depth (audio):</label>
    <select id="wav_bit_depth">
      <option selected value="16">16</option>
      <option value="24">24</option>
      <option value="32">32</option>
    </select>
  </div>

    <!-- <label for='wav_bit_depth'>Output Bit Depth (audio):</label>
    <label for ="16_bit">16</label><br>
    <input type="radio" id="16_bit" checked="checked" name="wav_bit_depth" value="16">
    <label for="24_bit">24</label>
    <input type="radio" id="24_bit" name="wav_bit_depth" value="24">
    <label for="32_bit">32</label>
    <input type="radio" id="32_bit" name="wav_bit_depth" value="32">
  </div> -->

  <!--MP3 DIV-->
  <div id="MP3">

    <!--Bitrate modes for MP3-->
    <div id="mp3_encoding_div">
      <label for="mp3_encoding_type">Bitrate Type:</label>
      <select id="mp3_encoding_type" onchange="showHideMP3(this.value);">
        <option disabled value>Select encoding type</option> 
        <option selected value="cbr">CBR (Constant Bitrate)</option>
        <option value="vbr">VBR (Variable Bitrate)</option>
        <option value="abr">ABR (Average Bitrate)</option>
      </select>
    </div>

    <!--Bitrate slider for MP3 CBR and ABR-->
    <div id="mp3_slider_div">
      <p>Set your desired bitrate via the slider:</p>
      <input type="range" min="64" max="320" step="64" value="192" id="mp3_bitrate" class="slider"/>
      <span id="mp3value"></span><br><br>
      <i>A higher bitrate allows for potentially higher audio quality, at the expense of a larger file size.</i>
    </div>

    <!-- VBR settings for MP3 -->
    <div id="mp3_vbr_setting_div" style="display:none">
      <label for="mp3_vbr_setting">Setting:</label>
      <select id="mp3_vbr_setting">
        <option disabled value>Select VBR setting</option>
        <option selected value="0">-V 0 (~240kbps)</option>
        <option value="1">-V 1 (~220kbps)</option>
        <option value="2">-V 2 (~190kbps)</option>
        <option value="3">-V 3 (~170kbps)</option>
        <option value="4">-V 4 (~160kbps)</option>
        <option value="5">-V 5 (~130kbps)</option>
        <option value="6">-V 6 (~120kbps)</option>
      </select><br>
      <i>For more details about the settings, click 
      <a target="_blank" href="http://wiki.hydrogenaud.io/index.php?title=LAME#Recommended_settings_details">here</a>.
      </i>
    </div>
  
  </div> <!--Closing tag for MP3 div-->

  <!--Bitrate settings for AC3-->
  <div id="AC3" style="display:none">
    <p>The maximum number of output channels is 6. Therefore, audio with more than 6 channels (such as 7.1 surround) 
    will get downmixed to 5.1</p>
    <label for="ac3_bitrate">Bitrate:</label>
    <select id="ac3_bitrate">
      <option disabled value>Select a Bitrate</option>
      <option value="192">192kbps</option>
      <option value="384">384kbps</option>
      <option value="448">448kbps</option>
      <option selected value="640">640kbps</option>
    </select><br>
    <i>A higher bitrate allows for potentially higher audio quality, at the expense of a larger file size.</i>
  </div>

  <!--MP4-->
  <div id="MP4" style="display:none">
    
    <label for="mp4_encoding_mode">FFmpeg setting:</label>
    <select id="mp4_encoding_mode" onchange="mp4Mode(this.value);">
      <option value="keep_codecs">[1] -c copy</option>
      <option value="keep_video_codec">[2] -c:v copy -c:a libfdk_aac -vbr 5</option>
      <option value="convert_video_keep_audio">[3] -c:v libx264 -c:a copy</option>
      <option disabled>Or choose a preset:</option>
      <option value="ultrafast">[4] Ultra fast</option>
      <option value="superfast">[5] Super fast</option>
      <option selected value="veryfast">[6] Very fast</option>
      <option value="faster">[7] Faster</option>
      <option value="fast">[9] Fast</option>
      <option value="medium">[9] Medium</option>
      <option value="slow">[10] Slow</option>
      <option value="slower">[11] Slower</option>
      <option value="veryslow">[12] Very slow</option>
    </select><br>
    <strong>Unless you know that the video and/or audio codec in your video is supported by the MP4 container, 
    you should choose a preset (options 4 to 12). When using a preset, the video codec is converted to H.264 and the
    audio codec is converted to AAC, using libfdk_aac at VBR mode 5. More details about the presets can be found 
    <a href="https://trac.ffmpeg.org/wiki/Encode/H.264#crf" target="_blank">here</a>.</strong><br><br>

    <!--CRF-->
    <div id=crf_div>
      <p>Constant Rate Factor (CRF):</p>
        <input type="range" min="0" max="51" step="1" value="18" id="crf_slider" class="slider"/>
        <span id="crf_value"></span><br><br>
      <i>A lower CRF means higher video quality, at the expense of a larger file size. A CRF of 17 or 18 is
      considered to be visually lossless or nearly so. 
      More details <a href="https://trac.ffmpeg.org/wiki/Encode/H.264#crf" target="_blank">here</a>.</i>
    </div>
      
  </div> <!--Closing tag for MP4 div-->

  <!--AAC DIV-->
  <div id="AAC" style="display:none">

    <!-- AAC ENCODING TYPE -->
    <div id="FDK" style="display:none">
      <label for="fdk_encoding">CBR or VBR:</label>
      <select id="fdk_encoding" onchange="fdkEncodingType(this.value);">
        <option disabled value>Select Encoding Type</option>
        <option value="fdk_cbr">CBR (Constant Bitrate)</option>
        <option selected value="fdk_vbr">VBR (Variable Bitrate)</option>
      </select>
    </div>

    <!--Bitrate slider for FDK CBR-->
    <div id="fdk_cbr_div" style="display:none">
      <p>Set your desired bitrate via the slider:</p>
        <input type="range" min="32" max="512" step="32" value="256" id="fdk_slider" class="slider"/>
        <span id="fdkvalue"></span>
    </div>

    <div id="fdk_vbr_div" style="display:none">
      <label for="fdk_vbr_value">VBR mode:</label>
      <select id="fdk_vbr_value">
        <option disabled value>Select VBR mode</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option selected value="5">5</option>
      </select><br>
      <i>Quality range is from 1 (lowest) to 5 (highest).</i>
    </div>

    <br>
    <div id="is_lowpass_div" style="display:none">
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" onclick="javascript:isFDKLowpass();" class="form-check-input" name="is_lowpass" id="no" value="no" checked="">
          Use default low-pass filter
        </label>
      </div>
      <div class="form-check">
      <label class="form-check-label">
          <input type="radio" onclick="javascript:isFDKLowpass();" class="form-check-input" name="is_lowpass" id="yes" value="yes">
          Change default low-pass filter
        </label>
      </div><br>
      <i>To see the default low-pass filters, 
        click <a href="https://wiki.hydrogenaud.io/index.php?title=Fraunhofer_FDK_AAC#Bandwidth"target="_blank">here</a>.
        VBR mode 5 has no low-pass filter by default.</i>
    </div>
    
      <!-- <p>Change default low-pass filter?</p>
      <label for="yes">Yes</label>
      <input type="radio" onclick="javascript:isFDKLowpass();" name="is_lowpass" id="yes" value="yes">
      <label for="no">No</label>
      <input type="radio" onclick="javascript:isFDKLowpass();" checked="checked" name="is_lowpass" id="no" value="no">
      <br><i>To see the default low-pass filters, 
      click <a href="https://wiki.hydrogenaud.io/index.php?title=Fraunhofer_FDK_AAC#Bandwidth"target="_blank">here</a>
      . VBR mode 5 has no low-pass filter by default.</i>
    </div> -->

    <div id="fdk_lowpass_div" style="display:none">
      <br>
      <label for="fdk_lowpass">Low-pass filter (Hz):  </label>
      <input onclick="this.select();" type="tel" maxlength="5" value="17000" id="fdk_lowpass"/>
      <span></span>
    <i>Max: 20000</i>
    </div>

  </div> <!--Closing tag for AAC div-->

  <!--Bitrate slider for DTS-->
  <div id="DTS" style="display:none">
    <p>The maximum number of output channels is 6. Therefore, audio with more than 6 channels (such as 7.1 surround) 
    will get downmixed to 5.1</p>
    <p>Set your desired bitrate via the slider:</p>
      <input type="range" min="384" max="1536" step="128" value="768" id="dts_slider" class="slider">
      <span id="dtsvalue"></span><br><br>
    <i>A higher bitrate allows for potentially higher audio quality, at the expense of a larger file size.</i>
  </div>

  <!--FLAC-->
  <div id="flac" style="display:none">
    <p>Set your desired compression level via the slider:</p>
      <input type="range" min="0" max="12" step="1" value="5" id="flac_compression" class="slider"/>
      <span id="flac_value"></span><br><br>
    <i>A higher value means a slighter smaller file size, but a longer conversion time.</i>
  </div>

  <!--VORBIS DIV-->
  <div id="Vorbis" style="display:none">

    <div id="vorbis_encoding_div" style="display:none">
      <label>VBR setting:</label>
      <select id="vorbis_encoding" onchange="showHideVorbis(this.value);">
        <option disabled>Select encoding type</option>
        <option value="abr">ABR (Average Bitrate)</option>
        <option value="vbr">VBR (target a quality level)</option>
      </select><br><br>
    </div>

    <!--Quality slider for Vorbis-->
    <div id="vorbis_quality_div" style="display:none">
      <p>Set your desired quality setting via the slider:</p>
        <input type="range" min="0" max="10" step="1" value="6" id="vorbis_quality" class="slider"/>
        <span id="vorbisvalue"></span><br><br>
      <i>Quality range is from "-q 0" (lowest) to "-q 10" (highest). For more details, click <a target="_blank"
      href="https://wiki.hydrogenaud.io/index.php?title=Recommended_Ogg_Vorbis#Recommended_Encoder_Settings">here</a>.
      </i>
    </div>

  </div> <!--Closing tag for Vorbis div-->

  <!--OPUS DIV-->
  <div id="Opus" style="display:none">

    <div id="opus_encoding" style="display:none">
      <label for="opus_encoding_type">Encoding Type</label>
      <select id="opus_encoding_type" onchange="opusEncodingType(this.value);">
        <option disabled value>Select Encoding Type</option>
        <option selected value="opus_vbr">VBR (with a target bitrate)</option>
        <option value="opus_cbr">CBR (Constant Bitrate)</option>
      </select>
    </div><br>

  <div id="opus_cbr_div" style="display:none">
    <p>Please enter your desired bitrate:</p>
      <input onclick="this.select();" type="tel" maxlength="3" min="6" max="512" value="192" id="opus_cbr_bitrate"/>kbps<br>
    <i>Range: 6 to 512. Mono files are capped at 256 kbps.</i>
  </div>

  </div> <!--Closing tag for Opus div-->

  <!--Bitrate slider for Opus/Vorbis VBR-->
  <div id="opus_vorbis_vbr_div" style="display:none">
    <input type="range" min="32" max="480" step="32" value="256" id="opus_vorbis_slider" class="slider"/>
    <span id="value"></span><br><br>
    <i>VBR selected, so this is just the bitrate that the encoder will try to stay around.</i>
  </div>

  <div id="no_settings_required" style="display:none">
    <i>You chose a format that does not require you to specify any encoder settings.</i>
  </div>
  
  <!--OUTPUT FILENAME (Bootstrap class)-->
  <hr><h5>Output Filename</h5>
  <input type="text" class="form-control" maxlength="200" id="output_name" required/><br>
  
  <!--CONVERT BUTTON (Bootstrap class)-->
  <button onclick="upload_and_send_conversion_request()" id="convert_btn" class="btn btn-primary">Convert</button>
 
  <button class="btn btn-primary d-none" id="uploading_btn" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Uploading file for conversion...
  </button>

  <!--"Cancel upload" button (Bootstrap class)-->
  <button type="button" id="cancel_btn" class="btn btn-secondary d-none">Cancel upload</button>

  <!--"CONVERTING..." BUTTON (Bootstrap class)-->
  <div class="text-center" id="converting_btn" style="display:none">
    <button class="btn btn-info" disabled> 
      <span class="spinner-border spinner-border-sm"></span>
      Converting...</button>
  </div>

  <!--Upload-progress bar-->
  <div id="progress_wrapper" style="display:none">
    <br>
    <div class="progress mb-3"> <!--Bootstrap class-->
      <div id="progress_bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
      aria-valuemax="100"></div>
    </div>
    <label id="progress_status"></label>
  </div>

  <!-- ENCODER PROGRESS -->
  <p id="progress" style="display:none"></p>

  <!-- ALERTS -->
  <div id="alert_wrapper" style="display:none"></div>

</div> <!--Closing tag for div class="container" div-->

<!--My JavaScript files-->
<script src="{{ url_for('static', filename='js/elements.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--Bootstrap JS-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock content %}