<!doctype html>
<head>
  <title>Convert Audio Files or Extract Audio from Video. No software download!</title>
  <meta name="description" content="Convert audio files to MP3, WAV, AAC, FLAC, Opus, Vorbis, and more! You can also extract the audio from a video and save it as an audio file.">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Nice font for the "Buy me a coffee" button -->
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
  <!-- Needed for hamburger icon on mobile -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="topnav" id="myTopnav">
    <!-- Navbar -->
    <a class="active">Home</a>
    <a href="about">About</a>
    <a href="filetypes">Filetypes</a>
    <a href="contact">Contact</a>
    <a target="_blank" href="game">Bored?</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    <!-- Buy me a coffee -->
    <div id="coffee">
      <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/fezCGRFkb"><img src="https://bmc-cdn.nyc3.digitaloceanspaces.com/BMC-button-images/BMC-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:5px">Buy me a coffee</span><br><br></a>
    </div>

  </div> <!--Closing tag for topnav-->

  <h1>abdudio Converter. Audio Extractor.</h1>

  <div class="tagline">
    <p>Convert audio files or extract the audio from a video. Easy 4-step process!</p>
  </div><br>

  <h3><b>1. Select the file you wish to convert:</b></h3>

  <div class="container">

    <div class="mb-3 mt-3">
      <div class="form-group mb-3">
        <div class="custom-file">
          <input accept=".mp3, .aac, .m4a, .wav, .flac, .ogg, .opus, .flv, .mp4, .avi, .wmv, .wma, .mka, .mkv, .MTS, .ac3, .3gp, .dts, .webm, .ADPCM, .spx, .caf, .mov" type="file" multiple class="custom-file-input" id="file_input" oninput="updateBoxes()">
          <label id="file_input_label" class="custom-file-label">Select file</label>
        </div>
      </div>
    </div>
  
    <p>To see the list of supported input filetypes, click <a href=filetypes target="_blank">here</a>.</p>
    <i>Videos are converted to audio-only files, unless you select MKV as the output format. Max file size: 2GB.</i>
  
    <hr><h3><b>2. Desired Format:</b></h3>
  
    <!--List of Codecs-->
    <select id="codecs" onchange="showHide(this.value);">
      <option selected value="MP3">MP3 (.mp3) [LAME v3.100]</option>
      <option value="AAC">AAC (.m4a) [Fraunhofer FDK AAC]</option>
      <option value="WAV">WAV (.wav)</option>
      <option value="FLAC">FLAC (.flac)</option>
      <option value="ALAC">ALAC (.m4a)</option>
      <option value="Opus">Opus (.opus) [libopus 1.3.1]</option>
      <option value="Vorbis">Vorbis (.ogg) [libVorbis 1.3.6]</option>
      <option value="AC3">AC3 (.ac3)</option>
      <option value="DTS">DTS (.dts)</option>
      <option value="Speex">Speex (.spx)</option>
      <option value="CAF">CAF (.caf)</option>
      <option value="MKV">MKV (.mkv)</option>
      <option value="MKA">Extract audio without converting (.mka)</option>
    </select>
  
    <hr><h3><b>3. Encoder Settings:</b></h3>

    <!--MP3 DIV-->
    <div id="MP3">

      <!--Bitrate modes for MP3-->
      <br><div id="mp3_encoding_div">
        <label for="mp3_encoding_type">CBR, VBR or ABR?</label>
        <select id="mp3_encoding_type" onchange="showHideMP3(this.value);">
          <option disabled value>Select encoding type</option> 
          <option value="cbr">CBR (Constant Bitrate)</option>
          <option value="vbr">VBR (Variable Bitrate)</option>
          <option selected value="abr">ABR (Average Bitrate)</option>
        </select><br>
        <i>Click <a href="http://wiki.hydrogenaud.io/index.php?title=LAME#Recommended_encoder_settings" target="_blank">here</a> for recommendations. Generally, <a href="http://wiki.hydrogenaud.io/index.php?title=LAME#Remarks" target="_blank">VBR > ABR > CBR</a> in terms of quality.</i>
      </div><br>

      <!--Bitrate slider for MP3 CBR and ABR-->
      <div id="mp3sliderdiv">
        <p>Set your desired bitrate via the slider:</p>
        <input type="range" min="64" max="320" step="64" value="256" id="cbr_abr_bitrate" class="slider"/>
        <span id="mp3value"></span><br><br>
        <i>A higher bitrate allows for potentially higher audio quality, at the expense of a larger file size.</i>
      </div>

      <!-- VBR settings for MP3 -->
      <div id="mp3_vbr_setting_div" style="display:none">
        <label for="mp3_vbr_setting">Setting:</label>
        <select id="mp3_vbr_setting">
          <option disabled value>Select VBR setting</option>
          <option value="0">-V 0 (~240kbps)</option>
          <option value="1">-V 1 (~220kbps)</option>
          <option selected value="2">-V 2 (~190kbps)</option>
          <option value="3">-V 3 (~170kbps)</option>
          <option value="4">-V 4 (~160kbps)</option>
          <option value="5">-V 5 (~130kbps)</option>
          <option value="6">-V 6 (~120kbps)</option>
        </select><br>
        <i>For more details about the settings, click <a target="_blank" href="http://wiki.hydrogenaud.io/index.php?title=LAME#Recommended_settings_details">here</a>.</i>
      </div><br>

      <div id=y-switch-div style='display:none'>
        <p>Force-enable the Y switch?</p>
        <input type="radio" name="is-y-switch" value="yes">
        <label for="opt2">Yes</label>
        <input type="radio" checked="checked" name="is-y-switch" value="no">
        <label for="opt1">No</label><br>
        <p>What the F is the Y switch? <a target="_blank" href="http://wiki.hydrogenaud.io/index.php?title=LAME_Y_SWITH">This</a> might help. Or not. It's technical stuff.</p>
      </div>
    
    </div> <!--Closing tag for MP3 div-->
  
    <!--Bitrate settings for AC3-->
    <div id="ac3-div" style="display:none">
      <label for="ac3-bitrate">Bitrate:</label>
      <select id="ac3-bitrate">
        <option disabled value>Select a Bitrate</option>
        <option value="192">192kbps</option>
        <option value="384">384kbps</option>
        <option value="448">448kbps</option>
        <option selected value="640">640kbps</option>
      </select><br><br>
      <i>A higher bitrate allows for potentially higher audio quality, at the expense of a larger file size.</i>
    </div>
  
    <!--AAC DIV-->
    <div id="AAC" style="display:none">

      <br><div id="aac-encoder" style="display:none">
        <label for="aac_encoder">Encoder:</label>
        <select id="aac_encoder" onchange="AAC_encoder(this.value);">
          <option disabled selected value>Select Encoder</option>
          <option selected value="qaac">QAAC (Apple's Encoder)</option>
          <option value="fdk">Fraunhofer FDK AAC</option>
        </select><br>
        <i>For more details about the encoders, click <a target="_blank" href=about>here</a> and refer to the "AAC" section.</i>
      </div>

      <div id="fdk-type" style="display:none">
        <label for="fdk-encoding">CBR or VBR:</label>
        <select id="fdk_encoding" onchange="fdkEncodingType(this.value);">
          <option disabled value>Select Encoding Type</option>
          <option value="fdk-cbr">CBR (Constant Bitrate)</option>
          <option selected value="fdk-vbr">VBR (Variable Bitrate)</option>
        </select>
      </div><br>

      <!--Bitrate slider for FDK CBR-->
      <div id="fdk_cbr_div" style="display:none">
        <p>Set your desired bitrate via the slider:</p>
          <input type="range" min="32" max="512" step="32" value="256" id="fdk-slider-aac" class="slider"/>
          <span id="fdkvalue"></span><br><br>
        <i>A higher bitrate allows for potentially higher audio quality, at the expense of a larger file size.</i>
      </div>

      <div id="fdk-vbr" style="display:none">
        <label for="fdk-vbr-value">Quality:</label>
        <select id="fdk-vbr-value">
          <option disabled value>Select VBR quality</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">2</option>
          <option value="4">4</option>
          <option selected value="5">5</option>
        </select><br>
        <i>Quality range is from 1 (lowest) to 5 (highest).</i>
      </div>

      <br><div id="is-lowpass-div" style="display:none">
        <p>Change default low-pass filter?</p>
        <input type="radio" onclick="javascript:isFDKLowpass();" name="is-lowpass" id="yes" value="yes">
        <label for="yes">Yes</label>
        <input type="radio" onclick="javascript:isFDKLowpass();" checked="checked" name="is-lowpass" id="no" value="no">
        <label for="no">No</label>
        <br><i>To see the default low-pass filters, click <a href="https://wiki.hydrogenaud.io/index.php?title=Fraunhofer_FDK_AAC#Bandwidth"target="_blank">here</a>.</i>
      </div>

      <br><div id="fdk-lowpass-div" style="display:none">
        <label for="fdk-lowpass">Low-pass filter (Hz):  </label>
        <input onclick="this.select();" type="tel" maxlength="5" value="17000" id="fdk-lowpass"/>
        <span></span><br><br>
      <i>Max value: 20000</i>
      </div>

    </div> <!--Closing tag for AAC div-->

    <!--Bitrate slider for DTS-->
    <div id="dts-div" style="display:none">
      <p>Set your desired bitrate via the slider:</p>
        <input type="range" min="768" max="3840" step="256" value="768" id="dts-slider" class="slider">
        <span id="dtsvalue"></span><br><br>
      <i>A higher bitrate allows for potentially higher audio quality, at the expense of a larger file size.</i>
    </div>

    <!--FLAC-->
    <div id="flac" style="display:none">
      <p>Set your desired compression level via the slider:</p>
        <input type="range" min="0" max="12" step="1" value="5" id="flac_compression" class="slider"/>
        <span id="flac_value"></span><br><br>
      <i>A higher value means a slighter smaller file size, but a longer conversion time.</i>
    </div>

    <!--VORBIS DIV-->
    <div id="Vorbis" style="display:none">

      <div id="vorbis_encoding_div" style="display:none">
        <label>VBR setting:</label>
        <select id="vorbis_encoding" onchange="showHideVorbis(this.value);">
          <option disabled value>Select encoding type</option>
          <option value="vbr_bitrate">VBR (with a nominal bitrate)</option>
          <option value="vbr_quality">VBR (target a quality-level)</option>
        </select><br><br>
      </div>
  
      <!--Quality slider for Vorbis-->
      <div id="vorbis_quality_div" style="display:none">
        <p>Set your desired quality setting via the slider:</p>
          <input type="range" min="0" max="10" step="1" value="6" id="vorbis_quality" class="slider"/>
          <span id="vorbisvalue"></span><br><br>
        <i>Quality range is from "-q 0" (lowest) to "-q 10" (highest). For more details, click <a target="_blank" href="https://wiki.hydrogenaud.io/index.php?title=Recommended_Ogg_Vorbis#Recommended_Encoder_Settings">here</a>.</i>
      </div>

    </div> <!--Closing tag for Vorbis div-->

    <!--OPUS DIV-->
    <div id="Opus" style="display:none">

      <div id="opus-encoding" style="display:none">
        <label for="opus-encoding-type">Encoding Type</label>
        <select id="opus-encoding-type" onchange="opusEncodingType(this.value);">
          <option disabled value>Select Encoding Type</option>
          <option selected value="opus-vbr">VBR (Variable Bitrate)</option>
          <option value="opus-cbr">CBR (Constant Bitrate)</option>
        </select>
      </div><br>

    <div id="opus-cbr-bitrate" style="display:none">
      <p>Please enter your desired bitrate:</p>
        <input onclick="this.select();" type="tel" maxlength="3" value="192" id="opus_cbr_slider"/><br>
      <i>You must enter an integer between 6 and 512.</i>
    </div>
  
    </div> <!--Closing tag for Opus div-->

    <!--Bitrate slider for Opus/Vorbis VBR-->
    <div id="vorbis_opus_vbr_bitrate" style="display:none">
      <input type="range" min="32" max="512" step="32" value="256" id="slider" class="slider"/>
      <span id="value"></span><br><br>
      <i>VBR selected, so this is just the bitrate that the encoder will usually stay around.</i>
    </div>

    <div id="wav_flac_msg" style="display:none">
      <i>You chose a format that does not require you to specify any encoder settings.</i>
    </div>
    
    <form method="POST":>
      <!--Desired filename section-->
      <hr><h3><b>4. Output Filename:</b></h3>
      <div class="was-validated">
        <input type="text" class="form-control" maxlength="200" id="output_name" required/>
      </div><br>
    </form>

    <div id="is-downmix-div">
      <p>Downmix multi-channel audio to stereo?</p>
      <input type="radio" name="is-downmix" value="-ac 2">
      <label for="opt2">Yes</label>
      <input type="radio" checked="checked" name="is-downmix" value="">
      <label for="opt1">No</label>
    </div><br>
    
    <!--When the convert button is clicked, run the upload function-->
    <button onclick="upload_and_convert()" id="upload_btn" class="btn btn-primary">Convert</button>
  
    <button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Uploading file for conversion...
    </button>
  
    <!--Cancel upload button-->
    <button type="button" id="cancel_btn" class="btn btn-secondary d-none">Cancel upload</button><br><br>
  
    <!--Upload-progress bar-->
    <div id="progress_wrapper" class="d-none">
      <div class="progress mb-3">
        <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-v aluenow="0" aria-v aluemin="0" aria-v aluemax="100"></div>
      </div>
      <label id="progress_status"></label>
    </div>
  
    <div id="alert_wrapper"></div>
   
    <div class="text-center" id="spinner" style="display:none">
      <br><button class="btn btn-info" disabled> 
          <span class="spinner-border spinner-border-sm"></span>
          Converting...</button>
      <div id="log"></div> <!-- #log for progress.js -->
    </div>

  </div><hr> <!--Closing tag for div class="container" div-->

<p>Like this website? Share it on Facebook or Twitter!</p>
<!--Facebook-->
<a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Ffreeaudioconverter.net%2F" target="_blank" rel="noopener" aria-label="Share on Facebook">
  <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--large"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"/></svg>
    </div>Share</div>
</a>
<!--Twitter-->
<a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text=Convert%20Audio%20Files%20or%20Extract%20the%20Audio%20from%20a%20Video!&amp;url=https%3A%2F%2Ffreeaudioconverter.net%2F" target="_blank" rel="noopener" aria-label="Share on Twitter">
  <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--large"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"/></svg>
    </div>Tweet</div>
</a>
<!--My JavaScript files-->
<script src="{{ url_for('static', filename='js/elements.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<!--For socket.io-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/progress.js') }}"></script>
<!--jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--Bootstrap JS-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
