<!DOCTYPE html>
<html lang="en">
<head>
    <!--Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167636115-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-167636115-1');
    </script>
    <meta charset="UTF-8">
    <meta name="description" content="Convert a video or audio file to MP3, WAV, AAC, FLAC, and more! | Trim an audio or video file | Extract the audio from a video">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--My CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Nice font for the "Buy me a coffee" button -->
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <!-- Needed for hamburger icon on mobile -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ title }}</title>
</head>

<body>

<div class="top" id=top_bar>
  <!-- Navbar -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  <a href="/">Home</a>
  <a href="about">About</a>
  <a href="filetypes">Filetypes</a>
  <a href="yt">YT downloader</a>
  <a href="trimmer">File Trimmer</a>
  <a href="contact">Contact</a>
  <a href="game">Game 1</a>
  <a href="game2">Game 2</a>
  <div id='github'>
    <!-- GH follow -->
    <a class="github-button" href="https://github.com/BassThatHertz/AudioAndVideoConverter" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" aria-label="Follow @BassThatHertz on GitHub">GitHub</a>
    <!-- Star -->
    <a class="github-button" href="https://github.com/BassThatHertz/AudioAndVideoConverter" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star BassThatHertz/AudioAndVideoConverter on GitHub">Star</a>
  </div>
</div>

{% block content %} {% endblock content%}

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

</body>

<script>
  function myFunction() {
    var x = document.getElementById("top_bar");
    if (x.className === "top") {
      x.className += " mobile";
      document.getElementById('github').style.display = 'none';
    } else {
      x.className = "top";
      document.getElementById('github').style.display = 'block';
    }
  }
</script>

</html>