{% extends "layout.html" %}
{% block content %}
<h1>File Trimmer</h1>

<p>This tool allows you to save a particular segment of a video or audio file. You need to specify the start and end time for your desired segment in the format HH:MM:SS</p>

<h3><b>Select the file you wish to trim:</b></h3>

<div class="container">

  <div class="mb-3 mt-3">
    <div class="form-group mb-3">
      <div class="custom-file">
        <input accept=".mp3, .aac, .m4a, .wav, .flac, .ogg, .opus, .flv, .mp4, .avi, .wmv, .wma, .mka, .mkv, .MTS, .ac3, .3gp, .dts, .webm, .ADPCM, .spx, .caf, .mov, .dtshd" id="file_input" type="file" multiple class="custom-file-input" id="trimmer-file" oninput="updatePlaceholder()">
        <label id="file_input_label" class="custom-file-label">Select file</label>
      </div>
    </div>
  </div>

<label for="start-time">Start segment at:</label>
<input required pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}" name="start" id="start-time" value="00:00:00" type="time" step="1">
<br>
<label for="end-time">End segment at:</label>
<input name="end" id="end-time" value="00:00:00" type="time" step="1"><br><br>
<button onclick="upload_and_send_trim_request()" id="trim-btn" type="submit" class="btn btn-primary">Trim file</button>

<button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Uploading file...
</button>

  <!--Cancel upload button-->
  <button type="button" id="cancel_btn" class="btn btn-secondary d-none">Cancel upload</button><br><br>

  <!--Upload-progress bar-->
  <div id="progress_wrapper" class="d-none">
    <div class="progress mb-3">
      <div
        id="progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
    <label id="progress_status"></label>
  </div>

  <div id="alert_wrapper"></div>

  <div class="text-center" id="spinner" style="display:none">
    <br><button class="btn btn-info" disabled> 
        <span class="spinner-border spinner-border-sm"></span>
        Trimming...</button>
  </div>
</div>

<script src="{{ url_for('static', filename='js/trimmer.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% endblock content%}

<!-- <div data-role="main" class="ui-content">
  <div data-role="rangeslider">
    <label for="start-time">Desired Segment</label>
    <input type="range" id="start-time" value="0" min="0" max="1000">
  </div>
  <button onclick="trim()" id="trim-btn" type="submit" class="btn btn-primary">Trim file</button>
</div> -->